<div>
    <div id="menu">
		<h1>Chat con websocket y persistencia de archivos con MongoDb</h1>
		
	</div>

    <input id="chatbox" />
	
	<div id="messageLogs"></div>
		
</div>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/home.js"></script>