<div>
    <h1>Productos en tiempo real</h1>
    <br>
        {{#each arrayProducts}}
        <div>
            <h2>{{this.title}}</h2>
            <h3>{{this.description}}</h3>
            <h4>{{this.price}}</h4>
            <h5>{{this._id}}</h5>
        </div>
        {{/each}}
    <br>
</div>
<br>
<div>
    <h1>Agregar productos</h1>
    <br>
    <form action="/realtimeproducts" method="post">
        <label>Nombre</label>
        <input name="title">

        <label>Descripcion</label>
        <input name="description">

        <label>Precio</label>
        <input name="price" type="number">

        <label>Stock</label>
        <input name="stock" type="number">

        <label>Categoria</label>
        <input name="category">

        <input type="submit">
    </form>
</div>

<div>
    <h1>Eliminar Productos</h1>
    <br>
    <form action="/realtimeproducts?_method=delete" method="POST">
        <label>Id del producto</label>
        <input type="search" name="_method" value="DELETE">

        <input type="submit">
    </form>
</div>

<div>
    <h1>Editar producto</h1>
    <br>
    <form action="/realtimeproducts?_method=update" method="POST">
        <label>Nombre del producto</label>
        <input type="text" name="_method" value="UPDATE">

        <input type="submit">
    </form>
</div>