.addToCart{
    cursor: pointer;
    
}

#productId{
    display: none;
}

/*cart view*/

.cartContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.cartListContainer{
    display: flex;
    flex-direction: column;
    width: 60%;
}

.cartProductContainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
    border-bottom: 1px solid;
}

.productContainer{
    display: flex;
    flex-direction: column;
}

.productImage{
    width: 10rem;
}

.cartCheckoutContainer{
    display: flex;
    flex-direction: row;
}

.checkoutContainer{
    padding-left: 3rem;
}

.checkoutElements{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/*users view*/

.usersContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.usersListContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.userContainer{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}

.userDataContainer{
    display: flex;
    flex-direction: column;
    
};

.imgContainer{
    display: flex;
}

.userImage{
    width: 10rem;
    height: 10rem;
}

/*Purchase Order view*/

.subtitle{
    text-align: center;
}

.info-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.ticker-purchase-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.ticket-purchase{
    display: flex;
    flex-direction: row;
}

.img-purchase-order{
    width: 7rem;
    height: 7rem;
}

.info-product{
    display: flex;
    flex-direction: column;
}